
    
    <div class="box">
        <h1>使い方</h1>
        <h3>①不適切でない用語がないか確認したい文章を入れる</h3>
        
        <div class="content_box">
            <p>（例）以下、チェッカーの動作テストにご利用ください。</p>
            <% sample="「障がいをもつ」という言葉は適切ではありません。障がいを「もつ」という表現は、何らかの障がいや疾病を患っているその人に障がいがあるという意味合いになります。しかし、本当の問題は、「社会生活を送る上で、障がいが起こる」ことです。車いすの段差をスロープに変更するなどの工夫があれば、社会や環境の障がいをなくすことができます。そのため、「障がいをもつ人」ではなく、「障がいのある人」と表すことが適切です。
　また障がいを「障害」というのも適切ではありません。理由は、障がいをもつという表現を使う理由と同様で、「障害は本人ではなく、社会の側にある」という考えに基づいています。「本人に害があるという意味ではない」ことから、「障がい」と表すことが適切です。
　また、「手短に」といった身体表現にも注意が必要です。「手短に」という言葉は、もともと差別用語ではありませんでした。しかし四肢に異常をきたす障がいをもつ人がいるということから、「身体的な異常」を意味する言葉として、差別用語として扱われるようになりました。
            "%>
            <textarea class="sample" type="text" ><%=sample%></textarea>
        </div>
    </div>
    <div class="box">
    </div>


        
    <div class="box">
        <h3>②CHECKボタンを押すと、不適切表現のみが<a class="red">赤</a>で表示されます</h3>
        <img src='/how3.png'>
    </div>

