
    
    <div class="box">
        <h1>文字チェッカーを作った経緯</h1>
        <div class="content_box">
            <p>　私は言葉が思考を作ると考えています。</p>
            <p>　「女の子らしい」という言葉が使われれば、「女の子のイメージ」が生まれ、それに相応しい人間とそうでない人間が生まれてしまいます。言葉を扱う人が言葉の微妙な違いに気をつけることができれば、一人ひとりを大切にあつかう思いがまた別の人に引き継がれ、広まっていくのではないかと感じています。</p>
            <p>　しかし実際のところ、誰から見ても差別用語と認識されるものもあれば、差別用語とまでいかない、一部の人が見て不快に感じる線引きが難しい言葉があります。上に記した「女の子らしい」がその一例です。そういった言葉も含めて、言葉一つひとつを確認していくには、大きな手間がかかります。そういった現状を踏まえて、</p>
            <p>・目視による確認の漏れを防ぐ。</p>
            <p>・確認の手間を省く。</p>
            <p>この二つの目的のために、文字チェッカーを作成しました。</p>
            <p>職場などで使ってもらえたら光栄です。</p>
        </div>
    </div>

    <div class="box">
        <h1>追加予定の機能</h1>
        <div class="content_box">
            <p>・「アイスクリーム」と「アイス」を区別する。（yahooテキストAPI</p>
            <p>・結果に訂正案を提示する。</p>
        </div>
    </div>

    <div class="box">
        <h1>追加された機能</h1>
        <div class="content_box">
            <p>・ログインした人のみが用語の編集機能を使えるようにする。</p>
            <p>・カテゴリー別にデータを分ける。</p>
        </div>
    </div>

    <div class="box">
        <h1>使用した言語</h1>
        <p>HTML, CSS, ruby (Ruby on Rails), git, PostgreSQL</p>
    </div>

    <div class="box">
        <h1>差別用語を調べる際に参考にしたサイト</h1>
        <p>クリックすると飛びます。<p>
        <div class="content_box">
            <p><%=link_to('兵庫県宝塚市HP','https://www.city.takarazuka.hyogo.jp/_res/projects/default_project/_page_/001/021/755/sassi19.pdf')%></p>
            <p><%=link_to('間違いやすい言葉・日本文化研究ブログ','https://jpnculture.net/imimachigai100/')%></p>
            <p><%=link_to('monoroku(放送禁止用語一覧)','http://monoroch.net/kinshi/')%></p>
        </div>
    </div>
