
.box{
    padding:20px 0;
    text-align:center;
    margin:0 auto;
}


.content_box{
    display:inline-block;
    text-align: left;
    margin:0 auto;
    max-width:660px;
}

.sample{
    height:160px;
    padding:3px;
    display:block;
    width:730px;
}

